.gameOver {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.gameOverTop {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.gameOver h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.gameOver h2 span {
    color: var(--golden);
}